# Read-only sampling for the current G431 production image. No reset or halt.
# Supply interface/stlink.cfg and target/stm32g4x.cfg before this script.
$_TARGETNAME configure -event examine-end {}
init
echo "CORE_STATE_BEFORE: [$_TARGETNAME curstate]"
echo "GPIOB_CONFIG: [read_memory 0x48000400 32 11]"
echo "USART1_CONFIG: [read_memory 0x40013800 32 8]"
echo "LINK_BEFORE: [read_memory 0x200003b4 32 15]"
echo "TICK_BEFORE: [read_memory 0x20001930 32 1]"
set alows [lrepeat 16 0]
set blows [lrepeat 16 0]
set achanges [lrepeat 16 0]
set bchanges [lrepeat 16 0]
set previous_a -1
set previous_b -1
for {set sample 0} {$sample < 5000} {incr sample} {
    set a [lindex [read_memory 0x48000010 32 1] 0]
    set b [lindex [read_memory 0x48000410 32 1] 0]
    for {set bit 0} {$bit < 16} {incr bit} {
        if {($a & (1 << $bit)) == 0} {lset alows $bit [expr {[lindex $alows $bit] + 1}]}
        if {($b & (1 << $bit)) == 0} {lset blows $bit [expr {[lindex $blows $bit] + 1}]}
        if {$previous_a >= 0 && (($a ^ $previous_a) & (1 << $bit)) != 0} {
            lset achanges $bit [expr {[lindex $achanges $bit] + 1}]
        }
        if {$previous_b >= 0 && (($b ^ $previous_b) & (1 << $bit)) != 0} {
            lset bchanges $bit [expr {[lindex $bchanges $bit] + 1}]
        }
    }
    set previous_a $a
    set previous_b $b
}
echo "SAMPLES_PER_PORT: 5000"
echo "PA_LOW_COUNTS: $alows"
echo "PB_LOW_COUNTS: $blows"
echo "PA_OBSERVED_CHANGES: $achanges"
echo "PB_OBSERVED_CHANGES: $bchanges"
echo "TICK_AFTER: [read_memory 0x20001930 32 1]"
echo "LINK_AFTER: [read_memory 0x200003b4 32 15]"
echo "CORE_STATE_AFTER: [$_TARGETNAME curstate]"
shutdown
